# swifty specific files
*.log
build/

# C/C++ artifacts
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# Compiled libraries
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE / Editor artifacts
.vscode